* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  background-color: #000;
  padding: 30px 30px 30px 0;
  height: 100vh;
}

.panelLeft_logo {
  margin-bottom: 50px;
  padding-left: 30px;
}

.panelLeft_logo,
.panelLeft_menu {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.panelLeft_menu {
  padding: 15px 0 15px 30px;
}

.panelLeft_menu:hover {
  background: linear-gradient(to right, #33343c 0%, #000 100%);

}

.panelLeft_logo__img {
  width: 50px;
  display: flex;
  align-items: center;
}

.panelLeft_menu__img {
  width: 25px;
  display: flex;
  align-items: center;
}

.panelLeft_logo__img img,
.panelLeft_menu__img img {
  width: 100%;
}

.panelLeft_logo__name {
  font-size: 25px;
  font-weight: 700;
}

.panelLeft>div {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  width: 300px;
}

.panelLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.panel {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #33343c;
  padding: 10px;
  width: calc(100% - 300px);
}

.panel_main {
  display: flex;
  gap: 50px;

}